.taskBar{
  
}
.dnm2{
    margin-top: 5px;
    background-color: #343334;
}
.dnm{
    margin: 2px;


 
    span{
        font-size: 18px;
        color: white;
        font-weight: bold;
        
    }
}
