$red:"red";
$green:"green";
$soft:"soft";

.taskBar{
    background-color: white;
    border-top: 1px solid #f7f7f7;
    padding: 10px;
    text-align: left;
    
    span{
        color: #181616;
        font-size: 16px;
        font-weight: bold;
    }
    .status{
        background: #d0e9d1;
        border-radius: 15px;
        text-align: center;
        &.rejected {
            background-color: #fa3f3f;
           }  
           &.completed {
            background-color: #437fff;
           }        
        span{
          color: #e9ecef;
        }
    }
}