* {
  color: #7b96a7;
}
.Navigation {
  background-color: #f8f8eb;
  border-bottom: 1px solid #7b96a7;
  a {
    @media only screen and (max-width: 320px) {
      font-size: 10px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .navigationItemUser {
    div {
      a {
        span {
          @media only screen and (max-width: 320px) {
            font-size: 10px;
            &:first-child {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}
